@import "../common.styl";
@import "../iconfont";
.viewport{
  background #006f2f
}
.banner{
  width 100%
  img{
    width 100%
  }
}
.main{
  width 5.8rem
  margin 0 auto
  .title{
    color #fff
    font-size .24rem
    padding-top .38rem
    width 100%
    line-height .4rem
  }
  .login{
    margin-top .35rem
    background url(../../images/m20161224/birthday/line.png) no-repeat 0 0;
    width 100%
    height .42rem
    background-size 100%
    font-size .24rem
    color #fff
    text-align center
    line-height .42rem
    span{
      color #e8d49b
    }
    .gotologin{
      text-decoration underline
    }
  }
  .bg{
    background url(../../images/m20161224/birthday/bg.jpg) no-repeat 0 0;
    width 100%
    background-size 100%
    ul{
      overflow hidden
      padding .47rem 0 .7rem 0
      li{
        width 2.9rem
        height 2.6rem
        float left
        position relative
        p{
          font-size .2rem
          color #fff
          text-align center
          padding-top .24rem
        }
        .cen{
          position relative
          width 2.17rem
          margin 0 auto
          height 1.53rem
          img{
            width 100%
          }
          .money{
            font-size .45rem
            color #fff
            top .75rem
            left .25rem
            position absolute
            span{
              font-size .19rem
              color #fff
            }
          }
          .money1{
            left .45rem
          }
          .money2{
            left .55rem
          }
          .money3{
            left .7rem
          }
        }
      }
      .li-top{
        width 5.8rem
      }
    }
  }
}