@import "../common.styl";
@import "../iconfont";
$hs=@block{
  .banner,.banners{
    width 100%
    img{
      width 100%
    }
  }
  .banners{
    height 1.47rem
  }
  .shop{
    background #fdd845
    position relative
    .cen{
      width 5.6rem
      margin 0 auto
      ul{
        overflow hidden
        width 5.6rem
        margin 0 auto
        padding-top .3rem
        li{
          width 2.6rem
          margin-right .4rem
          float left
          padding-bottom .4rem
          div{
            background #fff
            border-radius .15rem
            img{
              width 100%
              border-radius .15rem
            }
          }
          p{
            line-height .2rem
            text-align center
            font-size .22rem
            color #333
          }
          .firstpps{
            font-size .22rem
            color #333
            text-align center
            padding .14rem 0
          }
          p:nth-last-child(1){
            font-size .22rem
            color #d82f2f
            text-align center
          }
        }
        li:nth-child(even){
          margin-right 0
        }
        .li-top{
          width: 5.8rem;
          div{
             width 2.6rem
             margin 0 auto
          }
        }
        .li-left{
          width 2.7rem
          margin-right .3rem
          div{
            width 2.6rem
            background #fff
          }
        }
      }
    }
    .newdaybg{
      width 1.23rem
      height 1.45rem
      position absolute
      right 0
      bottom .7rem
    }
  }
}
.viewport{
  background #f6cc23
  .login{
    width 5.8rem
    height .78rem
    font-size .28rem
    color #333
    text-align center
    line-height .78rem
    background #fdd845
    border-radius .15rem
    margin 0 auto 0
    span{
      font-size .28rem
      color #d82f2f
    }
    .gotologin{
      text-decoration underline
      color #d82f2f
    }
  }
  .bg{
    padding-bottom .85rem
  }
  {$hs}
}