body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: Arial, Helvetica, simsun, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
fieldset,
img {
  border: 0;
}
input,
select,
textarea {
  font-size: 100%;
}
ins,
a {
  text-decoration: none;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}
input[type="radio"] {
  -webkit-appearance: radio;
}
.ca-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: url("../../images/loading.gif") no-repeat center center;
  background-color: rgba(0,0,0,0.8);
  background-size: 1rem auto;
}
.ca-wrap .ca-pop,
.ca-wrap .empty {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  width: 5.46rem;
  border-radius: 0.1rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ca-wrap .empty-cont {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0.45rem;
  font-size: 0.24rem;
  color: #000;
  text-align: center;
}
.ca-wrap .empty-btn {
  display: block;
  text-align: center;
  font-size: 0.24rem;
  line-height: 0.68rem;
  text-decoration: none;
}
.ca-wrap .ca-header {
  padding: 0 0.28rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.32rem;
  font-weight: bold;
  color: #333;
}
.ca-wrap .ca-content {
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
  padding: 0.3rem 0.45rem;
  font-size: 0.24rem;
  color: #000;
}
.ca-wrap .ca-content p {
  line-height: 1.7;
}
.ca-wrap .ca-content .label {
  display: inline-block;
  width: 1.8rem;
  text-align: right;
  color: #666;
}
.ca-wrap .ca-footer {
  height: 0.76rem;
  padding: 0.4rem 0.28rem;
}
.ca-wrap .ca-btn {
  float: left;
  display: block;
  width: 2.32rem;
  height: 0.76rem;
  box-sizing: border-box;
  text-align: center;
  line-height: 0.76rem;
  font-size: 0.32rem;
  text-decoration: none;
  border-radius: 0.05rem;
}
.ca-wrap .changeBtn {
  border: 1px solid #666;
  color: #666;
  margin-right: 0.2rem;
}
.ca-wrap .comfirmBtn {
  border: 1px solid #f35c3f;
  background-color: #f35c3f;
  color: #fff;
}
.ca-hide {
  display: none;
}
.underline {
  text-decoration: none;
  border-bottom: 1px solid;
}
.high-color {
  color: #ffd570;
}
.strong {
  font-weight: bold;
}
.fr {
  float: right;
}
.par {
  font-size: 0.25rem;
  line-height: 0.33rem;
}
html {
  font-size: 100px;
}
body {
  font-size: 0.14rem;
  line-height: 1.2;
}
html,
body {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  background-color: #fff7d2;
}
.viewport {
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}
.wrap {
  padding-top: 1.07rem;
}
.convert-cont {
  box-sizing: border-box;
  position: relative;
  width: 5.6rem;
  background-color: #cd3325;
  padding: 0.22rem;
  margin: 0 auto;
  border-radius: 0.06rem;
}
.convert-cont:before {
  content: '';
  position: absolute;
  top: -0.78rem;
  left: -0.22rem;
  width: 6.06rem;
  height: 1.17rem;
  background: url("../../images/m20160205/roof.png") no-repeat 0 0;
  background-size: 100% 100%;
}
.convert-cont .convert-list {
  *zoom: 1;
  padding-top: 0.4rem;
  background-color: #ffd570;
}
.convert-cont .convert-list:before,
.convert-cont .convert-list:after {
  display: table;
  content: "";
}
.convert-cont .convert-list:after {
  clear: both;
}
.convert-cont .convert-list li {
  float: left;
  width: 50%;
  margin-bottom: 0.3rem;
}
.convert-cont .convert-list .cont {
  width: 1.6rem;
  height: 1.2rem;
  background: url("../../images/m20160205/redPacket.png") no-repeat 0 0;
  background-size: 100% 100%;
  margin: 0 auto 0.16rem;
  font-size: 0.4rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.2rem;
  color: #fff;
}
.convert-cont .convert-list .cont span {
  font-size: 0.22rem;
  font-weight: normal;
}
.convert-cont .convert-list .info {
  width: 1.9rem;
  height: 0.38rem;
  font-size: 0.24rem;
  color: #744e45;
  text-align: center;
  line-height: 0.38rem;
  margin: 0 auto;
  background-color: #fff7d2;
  border-radius: 0.16rem;
}
.convert-cont .convert-list .peach-num {
  display: inline-block;
  width: 0.23rem;
  height: 0.29rem;
  background: url("../../images/m20160205/peach.png") no-repeat 0 0;
  background-size: 100% 100%;
  margin: 0 0.02rem;
  vertical-align: middle;
}
.intro {
  margin-top: 0.2rem;
  color: #744e45;
  font-size: 0.22rem;
  line-height: 0.4rem;
  padding: 0 0.32rem;
}
.goback {
  box-sizing: border-box;
  display: block;
  max-width: 1.4rem;
  color: #c34944;
  font-size: 0.28rem;
  line-height: 0.6rem;
  border-radius: 0.3rem;
  border: 0.03rem solid #c34944;
  text-align: center;
  margin: 0 auto;
}
