body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: Arial, Helvetica, simsun, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
fieldset,
img {
  border: 0;
}
input,
select,
textarea {
  font-size: 100%;
}
ins,
a {
  text-decoration: none;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}
input[type="radio"] {
  -webkit-appearance: radio;
}
html {
  font-size: 100px;
}
html,
body,
.page {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  font-size: 0.14rem;
  line-height: 1.2;
}
.page,
.page>.viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  height: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.viewport {
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}
#loadPage {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../images/loading.gif") no-repeat center center;
  background-size: 0.78rem auto;
  background-color: #fff;
}
.ca-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: url("../../images/loading.gif") no-repeat center center;
  background-color: rgba(0,0,0,0.8);
  background-size: 1rem auto;
}
.ca-wrap .ca-pop,
.ca-wrap .empty {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  width: 5.46rem;
  border-radius: 0.1rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ca-wrap .empty-cont {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0.45rem;
  font-size: 0.24rem;
  color: #000;
  text-align: center;
}
.ca-wrap .empty-btn {
  display: block;
  text-align: center;
  font-size: 0.24rem;
  line-height: 0.68rem;
  text-decoration: none;
}
.ca-wrap .ca-header {
  padding: 0 0.28rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.32rem;
  font-weight: bold;
  color: #333;
}
.ca-wrap .ca-content {
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
  padding: 0.3rem 0.45rem;
  font-size: 0.24rem;
  color: #000;
}
.ca-wrap .ca-content p {
  line-height: 1.7;
}
.ca-wrap .ca-content .label {
  display: inline-block;
  width: 1.8rem;
  text-align: right;
  color: #666;
}
.ca-wrap .ca-footer {
  height: 0.76rem;
  padding: 0.4rem 0.28rem;
}
.ca-wrap .ca-btn {
  float: left;
  display: block;
  width: 2.32rem;
  height: 0.76rem;
  box-sizing: border-box;
  text-align: center;
  line-height: 0.76rem;
  font-size: 0.32rem;
  text-decoration: none;
  border-radius: 0.05rem;
}
.ca-wrap .changeBtn {
  border: 1px solid #666;
  color: #666;
  margin-right: 0.2rem;
}
.ca-wrap .comfirmBtn {
  border: 1px solid #f35c3f;
  background-color: #f35c3f;
  color: #fff;
}
.ca-hide {
  display: none;
}
.underline {
  text-decoration: none;
  border-bottom: 1px solid;
}
.high-color {
  color: $high-color;
}
.strong {
  font-weight: bold;
}
.fr {
  float: right;
}
.par {
  font-size: 0.25rem;
  line-height: 0.33rem;
}
html,
body {
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  background-color: #a62f2a;
}
.foreground {
  position: relative;
  z-index: 2;
}
.foreground .title {
  position: relative;
  margin: -0.16rem auto 0;
  width: 4.63rem;
  height: 2.18rem;
}
.foreground .title img {
  width: 100%;
  height: 100%;
}
.foreground .btns {
  display: block;
  width: 2.97rem;
  height: 0.8rem;
  background-color: #fff;
  background-image: url("../../images/m20160205/btns.png");
  background-repeat: no-repeat;
  border-radius: 0.4rem;
  background-size: 2.97rem 1.6rem;
  overflow: hidden;
  text-indent: -999px;
  margin: 0 auto;
}
.foreground .entry-btn {
  background-position: left top;
  margin-top: 0.67rem;
}
.foreground .rule-btn {
  background-position: left bottom;
  margin-top: 0.39rem;
}
.foreground .bottom-monkey img {
  width: 100%;
}
.branch {
  position: relative;
  height: 2.27rem;
  width: 100%;
}
.branch:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.66rem;
  height: 2.27rem;
  background: url("../../images/m20160205/branch.png") no-repeat 0 0;
  background-size: 4.54rem 2.27rem;
}
.branch:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2.85rem;
  height: 2.27rem;
  background: url("../../images/m20160205/branch.png") no-repeat top right;
  background-size: 4.54rem 2.27rem;
}
.clouds-wrap {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.78rem;
  overflow: hidden;
  background: #c14742 url("../../images/m20160205/mountain.png") no-repeat left bottom;
  background-size: 100% auto;
}
.clouds-wrap .clouds {
  position: absolute;
  background-image: url("../../images/m20160205/clouds.png");
  background-repeat: no-repeat;
  background-size: 3.55rem 1.63rem;
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
}
.clouds-wrap .cloud1 {
  top: 0.67rem;
  width: 1.75rem;
  height: 0.66rem;
  background-position: 0 0;
  animation: cloudmove 40s 2s linear infinite;
  -webkit-animation: cloudmove 40s 2s linear infinite;
}
.clouds-wrap .cloud2 {
  top: 2.76rem;
  width: 1.48rem;
  height: 0.73rem;
  background-position: -1.94rem 0;
  animation: cloudmove 25s 1s linear infinite;
  -webkit-animation: cloudmove 25s 1s linear infinite;
}
.clouds-wrap .cloud3 {
  top: 4.48rem;
  width: 2.05rem;
  height: 0.72rem;
  background-position: 0 -0.9rem;
  animation: cloudmove 45s 5s linear infinite;
  -webkit-animation: cloudmove 45s 5s linear infinite;
}
.clouds-wrap .cloud4 {
  top: 5.05rem;
  width: 1.75rem;
  height: 0.66rem;
  background-position: 0 0;
  animation: cloudmove 25s 0.5s linear infinite;
  -webkit-animation: cloudmove 25s 0.5s linear infinite;
}
.clouds-wrap .cloud5 {
  top: 7.4rem;
  width: 1.38rem;
  height: 0.7rem;
  background-position: -2.17rem -0.92rem;
  animation: cloudmove 25s 1.2s linear infinite;
  -webkit-animation: cloudmove 25s 1.2s linear infinite;
}
.clouds-wrap .cloud6 {
  top: 7.78rem;
  width: 1.48rem;
  height: 0.73rem;
  background-position: -1.94rem 0;
  animation: cloudmove 50s 6s linear infinite;
  -webkit-animation: cloudmove 50s 6s linear infinite;
}
.dialog-title-common {
  background: url("../../images/m20160205/title-bg.png") no-repeat 0 0;
  background-size: 2.21rem 0.71rem;
  width: 2.21rem;
  height: 0.71rem;
  color: #cf3c2e;
  font-size: 0.36rem;
  line-height: 0.71rem;
  margin: 0 auto;
  text-align: center;
  font-family: SimSun, STSong, Serif, Helvetica, Arial;
  font-weight: bold;
}
.ui-dialog-wrap {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.ui-dialog-wrap .ui-dialog-box {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  padding: 0.32rem 0.36rem;
  width: 5.8rem;
  border-radius: 0.14rem;
  max-height: 90%;
  background-color: #fff;
}
.ui-dialog-wrap .ui-dialog-box .ui-dialog-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 1.36rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.14rem 0.14rem 0 0;
  padding-top: 0.32rem;
  box-sizing: border-box;
}
.ui-dialog-wrap .ui-dialog-box .ui-dialog-close {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  padding: 0.18rem 0.2rem;
}
.ui-dialog-wrap .ui-dialog-box .ui-dialog-close:before {
  content: '';
  display: block;
  background: url("../../images/m20160205/x-icon.png") no-repeat 0 0;
  background-size: 0.28rem 0.28rem;
  width: 0.28rem;
  height: 0.28rem;
}
.ui-dialog-wrap .ui-dialog-box .ui-dialog-content {
  box-sizing: border-box;
  overflow-y: auto;
  padding-top: 1.36rem;
}
.ui-dialog-wrap .ui-dialog-box .ui-dialog-content .cont {
  font-size: 0.26rem;
  color: #333;
}
.ui-dialog-wrap .ui-dialog-box .ui-dialog-content .cont li {
  margin-bottom: 0.2rem;
}
.ui-dialog-hide {
  display: none;
}
.common-dialog-wrap {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.common-dialog-wrap .ui-dialog-box {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  padding: 0.32rem 0.36rem;
  width: 5.8rem;
  border-radius: 0.14rem;
  max-height: 90%;
  background-color: #fff;
}
.common-dialog-wrap .ui-dialog-box .ui-dialog-close {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  padding: 0.18rem 0.2rem;
}
.common-dialog-wrap .ui-dialog-box .ui-dialog-close:before {
  content: '';
  display: block;
  background: url("../../images/m20160205/x-icon.png") no-repeat 0 0;
  background-size: 0.28rem 0.28rem;
  width: 0.28rem;
  height: 0.28rem;
}
.common-dialog-wrap .ui-dialog-box .ui-dialog-content {
  box-sizing: border-box;
}
.common-dialog-wrap .ui-dialog-box .ui-dialog-content .cont {
  font-size: 0.36rem;
  color: #666;
  text-align: center;
  line-height: 2.8rem;
  min-height: 2.8rem;
}
.common-dialog-wrap .ui-dialog-box .ui-dialog-footer {
  text-align: center;
}
.common-dialog-wrap .ui-dialog-box .ui-dialog-footer .ui-dialog-btn {
  display: inline-block;
  line-height: 0.8rem;
  min-width: 2.8rem;
  text-align: center;
  font-size: 0.36rem;
  color: #fff;
  background: #cf3c29;
  border-radius: 0.4rem;
}
#loadpage {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../images/loading.gif") no-repeat center center;
  background-color: rgba(0,0,0,0.8);
  background-size: 1rem auto;
}
@-moz-keyframes cloudmove {
  0% {
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
  }
  100% {
    transform: translate(500%, 0);
    -webkit-transform: translate(500%, 0);
  }
}
@-webkit-keyframes cloudmove {
  0% {
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
  }
  100% {
    transform: translate(500%, 0);
    -webkit-transform: translate(500%, 0);
  }
}
@-o-keyframes cloudmove {
  0% {
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
  }
  100% {
    transform: translate(500%, 0);
    -webkit-transform: translate(500%, 0);
  }
}
@keyframes cloudmove {
  0% {
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
  }
  100% {
    transform: translate(500%, 0);
    -webkit-transform: translate(500%, 0);
  }
}
