body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: Arial, Helvetica, simsun, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
fieldset,
img {
  border: 0;
}
input,
select,
textarea {
  font-size: 100%;
}
ins,
a {
  text-decoration: none;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}
input[type="radio"] {
  -webkit-appearance: radio;
}
html {
  font-size: 100px;
}
html,
body,
.page {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  font-size: 0.14rem;
  line-height: 1.2;
}
.page,
.page>.viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  height: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.viewport {
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}
#loadPage {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../images/loading.gif") no-repeat center center;
  background-size: 0.78rem auto;
  background-color: #fff;
}
@font-face {
  font-family: iconfont;
  src: url("iconfont/iconfont.eot");
  src: url("iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont/iconfont.woff") format('woff'), url("iconfont/iconfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.iconfont {
  font-family: 'iconfont' !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-group:before {
  content: "\e644";
}
.icon-coin:before {
  content: "\e645";
}
.icon-download:before {
  content: "\e643";
}
.icon-close:before {
  content: "\e604";
}
@font-face {
  font-family: iconfont;
  src: url("../iconfont/iconfont.eot");
  src: url("../iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("../iconfont/iconfont.woff") format('woff'), url("../iconfont/iconfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.iconfont {
  font-family: 'iconfont' !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before {
  content: "\e604";
}
body {
  background: #09174e;
}
.viewport {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.banner img {
  display: block;
  width: 100%;
}
.floor {
  position: relative;
  padding: 0.27rem;
  box-sizing: border-box;
}
.floor.step-1 {
  margin-top: -1.06rem;
}
.floor .title {
  width: 100%;
  height: 1.37rem;
}
.floor .title img {
  display: block;
  height: 1.37rem;
  margin: 0 auto;
}
.floor .cont {
  margin: 0 0.1rem;
  font-size: 0.26rem;
  line-height: 0.3rem;
  color: #fff;
}
.floor .goods-list {
  background: url("../../images/m20161018/border-start1.png") no-repeat 0 0;
  background-size: 100% 100%;
  padding: 0.55rem 0.23rem 0.23rem;
  *zoom: 1;
}
.floor .goods-list:before,
.floor .goods-list:after {
  display: table;
  content: "";
}
.floor .goods-list:after {
  clear: both;
}
.floor .goods-list li {
  float: left;
  width: 50%;
  margin-bottom: 0.42rem;
  text-align: center;
}
.floor .goods-list li:first-child {
  width: 100%;
}
.floor .goods-list li .pic {
  height: 1.11rem;
}
.floor .goods-list li .pic img {
  display: block;
  height: 100%;
  margin: 0 auto;
}
.floor .goods-list li .name {
  margin-top: 0.16rem;
  min-height: 0.32rem;
  font-size: 0.2rem;
  line-height: 0.25rem;
  color: #9d4c1b;
}
.floor .goods-list li .rule {
  font-size: 0.2rem;
  line-height: 0.26rem;
  color: #333;
}
.floor .red-packet-list {
  background: url("../../images/m20161018/border-start2.png") no-repeat 0 0;
  background-size: 100% 100%;
  *zoom: 1;
  box-sizing: border-box;
  padding: 0.63rem 0.23rem 0.23rem;
}
.floor .red-packet-list:before,
.floor .red-packet-list:after {
  display: table;
  content: "";
}
.floor .red-packet-list:after {
  clear: both;
}
.floor .red-packet-list li {
  float: left;
  width: 50%;
  text-align: center;
  margin-bottom: 0.52rem;
}
.floor .red-packet-list .red-packet {
  margin: 0 auto 0.08rem;
  box-sizing: border-box;
  width: 1.68rem;
  height: 0.8rem;
  padding-right: 0.4rem;
  background: url("../../images/redpacket-bg.png") no-repeat 0 0;
  background-size: 100% 100%;
  line-height: 0.8rem;
  font-size: 0.5rem;
  text-align: center;
  color: #fff;
}
.floor .red-packet-list .red-packet span {
  margin-left: 0.06rem;
  font-size: 0.18rem;
}
.floor .red-packet-list .name,
.floor .red-packet-list .rule {
  font-size: 0.2rem;
  line-height: 0.26rem;
  color: #333;
}
.floor .red-packet-list .rule {
  margin-bottom: 0.16rem;
}
.floor .red-packet-list .btn {
  display: block;
  width: 1.4rem;
  height: 0.4rem;
  margin: 0 auto;
  line-height: 0.4rem;
  text-align: center;
  font-size: 0.22rem;
  border-radius: 0.08rem;
  background-color: #b8b8b8;
  color: #e2e2e2;
}
.floor .red-packet-list .btn.primary {
  background-color: #fff73b;
  color: #333;
}
.floor .user-cont {
  margin: 0.25rem 0.1rem;
  border: 2px solid #ff4931;
  box-shadow: 0 0 0.07rem #ff8062, inset 0 0 0.07rem #ff8062;
  border-radius: 0.07rem;
  line-height: 0.64rem;
  font-size: 0.26rem;
  color: #fff;
  text-align: center;
}
.floor .user-cont a {
  color: #31f3ff;
}
.floor .hignlight {
  color: #feee22;
}
.floor .underline {
  border-bottom: 1px solid;
}
.floor .show-box {
  border-radius: 0.1rem;
  background-color: #efd9a4;
  margin-top: 0.25rem;
}
.floor .raise-box {
  box-sizing: border-box;
  padding: 0.4rem 0 0 2.66rem;
  width: 5.76rem;
  height: 1.46rem;
  background: url("../../images/m20161018/raise-bg.png") no-repeat 0 0;
  background-size: 100%;
  font-size: 0.26rem;
  line-height: 0.33rem;
  color: #fff;
}
.floor .gift {
  margin: 0.25rem auto;
  width: 2.4rem;
  height: 1.5rem;
}
.floor .gift img {
  display: block;
  width: 100%;
}
.rule-pop-btn {
  display: block;
  margin: 0.58rem auto 0.44rem;
  width: 2.6rem;
  height: 0.6rem;
  font-size: 0.26rem;
  color: #fff;
  line-height: 0.6rem;
  border-radius: 0.08rem;
  background-color: #ff4931;
  text-align: center;
  box-shadow: 0 0 0.07rem #ff8062;
}
.pop-rule {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}
.pop-rule .pop-rule-content {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0.4rem;
  width: 5.4rem;
  border-radius: 0.18rem;
  background-color: #fff;
}
.pop-rule .pop-rule-content .title {
  height: 0.67rem;
  line-height: 0.67rem;
  font-size: 0.36rem;
  color: #333;
  text-align: center;
}
.pop-rule .pop-rule-content p {
  font-size: 0.24rem;
  line-height: 0.4rem;
  color: #493219;
  margin-bottom: 0.14rem;
}
.pop-rule .pop-rule-content .content-wrap {
  max-height: 50vh;
  overflow: auto;
}
.pop-rule .pop-rule-content .pop-rule-close {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -0.84rem;
  width: 0.62rem;
  height: 0.62rem;
  background: url("../../images/m20160918/close-btn.png") no-repeat top center;
  background-size: 0.62rem;
}
