body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: Arial, Helvetica, simsun, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
fieldset,
img {
  border: 0;
}
input,
select,
textarea {
  font-size: 100%;
}
ins,
a {
  text-decoration: none;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}
input[type="radio"] {
  -webkit-appearance: radio;
}
html {
  font-size: 100px;
}
html,
body,
.page {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  font-size: 0.14rem;
  line-height: 1.2;
}
.page,
.page>.viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  height: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.viewport {
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}
#loadPage {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../images/loading.gif") no-repeat center center;
  background-size: 0.78rem auto;
  background-color: #fff;
}
.ca-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: url("../../images/loading.gif") no-repeat center center;
  background-color: rgba(0,0,0,0.8);
  background-size: 1rem auto;
}
.ca-wrap .ca-pop,
.ca-wrap .empty {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  width: 5.46rem;
  border-radius: 0.1rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ca-wrap .empty-cont {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0.45rem;
  font-size: 0.24rem;
  color: #000;
  text-align: center;
}
.ca-wrap .empty-btn {
  display: block;
  text-align: center;
  font-size: 0.24rem;
  line-height: 0.68rem;
  text-decoration: none;
}
.ca-wrap .ca-header {
  padding: 0 0.28rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.32rem;
  font-weight: bold;
  color: #333;
}
.ca-wrap .ca-content {
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
  padding: 0.3rem 0.45rem;
  font-size: 0.24rem;
  color: #000;
}
.ca-wrap .ca-content p {
  line-height: 1.7;
}
.ca-wrap .ca-content .label {
  display: inline-block;
  width: 1.8rem;
  text-align: right;
  color: #666;
}
.ca-wrap .ca-footer {
  height: 0.76rem;
  padding: 0.4rem 0.28rem;
}
.ca-wrap .ca-btn {
  float: left;
  display: block;
  width: 2.32rem;
  height: 0.76rem;
  box-sizing: border-box;
  text-align: center;
  line-height: 0.76rem;
  font-size: 0.32rem;
  text-decoration: none;
  border-radius: 0.05rem;
}
.ca-wrap .changeBtn {
  border: 1px solid #666;
  color: #666;
  margin-right: 0.2rem;
}
.ca-wrap .comfirmBtn {
  border: 1px solid #f35c3f;
  background-color: #f35c3f;
  color: #fff;
}
.ca-hide {
  display: none;
}
.IOSRead {
  display: none;
}
.isIOSApp .IOSRead {
  display: block;
}
.underline {
  text-decoration: none;
  border-bottom: 1px solid;
}
.highlight {
  color: #a92620;
}
.strong {
  font-weight: bold;
}
.fr {
  float: right;
}
.bbs {
  color: #fff;
}
html,
body {
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  background-color: #013e51;
  color: #333;
}
.banner img {
  display: block;
  width: 100%;
}
.fts28 {
  font-size: 0.28rem;
}
.floor {
  position: relative;
  margin: 0.36rem 0.21rem 0;
  padding: 0.42rem;
  background: #eddfbf url("../../images/m20160218/grain-bg.png") repeat-y 0 0;
  background-size: 100% auto;
  border: 0.08rem solid #e3b937;
  border-radius: 0.09rem;
  font-size: 0.24rem;
}
.floor:before,
.floor:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 0.7rem;
  height: 0.76rem;
  background: url("../../images/m20160218/lantern.png") no-repeat 0 0;
  background-size: 100%;
}
.floor:before {
  left: -0.25rem;
}
.floor:after {
  right: -0.25rem;
}
.floor .tit {
  position: absolute;
  width: 100%;
  left: 0;
  top: -0.28rem;
}
.floor .tit-bg {
  text-align: center;
  height: 0.5rem;
}
.floor .tit-bg span {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #e3b937;
  box-shadow: 0 0 0 0.07rem #e3b937;
  border-radius: 50%;
}
.floor .tit-cont {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  height: 0.5rem;
}
.floor .tit-cont span {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  line-height: 0.5rem;
  font-size: 0.32rem;
  color: #fff;
}
.floor .red-bg span {
  background-color: #a92620;
  box-shadow: 0 0 0 0.02rem #a92620;
}
.floor .green-bg span {
  background-color: #08877a;
  box-shadow: 0 0 0 0.02rem #08877a;
}
.floor .floor-pic {
  margin: 0.1rem 0;
  text-align: center;
}
.floor .gold-pic {
  width: auto;
  height: 1.6rem;
}
.floor .round-pic {
  height: 1.77rem;
  width: auto;
}
.floor .center {
  text-align: center;
}
.floor .cont {
  margin-bottom: 0.14rem;
}
.floor .sub-cont {
  color: #666;
}
.gift-list {
  *zoom: 1;
}
.gift-list:before,
.gift-list:after {
  display: table;
  content: "";
}
.gift-list:after {
  clear: both;
}
.gift-list li {
  float: left;
  width: 50%;
  text-align: center;
  font-size: 0.22rem;
  margin-bottom: 0.44rem;
}
.gift-list .pic {
  height: 1.15rem;
}
.gift-list .pic img {
  height: 100%;
  width: auto;
}
.gift-list .name {
  color: #a92620;
  line-height: 0.3rem;
}
.gift-list li:first-child {
  width: 100%;
}
.rule-box {
  margin: 0.2rem 0.32rem 0;
  font-size: 0.24rem;
  color: #eddfbf;
  line-height: 0.3rem;
}
.rule-box .tit {
  font-size: 0.28rem;
  text-align: center;
  line-height: 0.6rem;
}
.rule-box p {
  margin-bottom: 0.12rem;
}
.has-foot {
  padding-bottom: 0.78rem;
}
.has-foot .foot-bar {
  display: block;
}
.foot-bar {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.78rem;
  text-align: center;
}
.foot-bar a {
  display: block;
  background-color: #a92620;
  line-height: 0.78rem;
  height: 0.78rem;
  color: #fff;
  text-decoration: none;
  font-size: 0.28rem;
}
