$clearfix() {
  \*zoom: 1
  &:before,
  &:after{
    display: table
    content: ""
  }
  &:after{
    clear: both
  }
}
$positioncenter(){
  transform translate(-50%, -50%);
  -webkit-transform translate(-50%, -50%)
}

$bg-color = #cc4047;
$border-color = #640d0d;
$title-bg-color = #640d0d;
$link-color = #cc4047;

.underline{
  text-decoration none;
  border-bottom 1px solid;
  line-height: 1.2;
}
.linkcolor{
  color $link-color;
}
.icon-star{
  display block;
  width .53rem;
  height .55rem;
  background url(../../images/m1511/icons.png) no-repeat 0 0;
  background-size: .53rem 1.72rem;
}
.floor-item{
  position relative;
  min-height 1.7rem;
  margin-top .9rem;
  padding 0 .28rem .36rem;
  border .06rem solid $border-color;
  background-color #fff6d6;
  &:before,
  &:after{
    content '';
    position absolute;
    width .53rem;
    height .58rem;
    background-image url(../../images/m1511/icons.png);
    background-repeat no-repeat;
    background-size: .53rem 1.72rem;
  }
  &:before{
    top -.18rem;
    left -.28rem;
    background-position 0 -.58rem;
  }
  &:after{
    bottom -.18rem;
    right -.28rem;
    background-position 0 -1.16rem;
  }
  .title{
    position relative;
    box-sizing border-box;
    width 2.4rem;
    height .9rem;
    margin -.64rem auto 0;
    padding-top .08rem;
    background-color $title-bg-color;
    border-radius .06rem;
    text-align center;
    h2{
      font-size .32rem;
      font-weight bold;
      color #fff94f;
      line-height .42rem;
    }
    span{
      font-size .24rem;
      color #fff;
    }
    &:before{
      content: '';
      position absolute;
      top -.12rem;
      right -.12rem;
      @extend .icon-star;
    }
  }
  .info{
    margin-top .2rem;
    font-size .24rem;
    line-height .35rem;
    color #640d0d;
  }
  .fs30{
    font-size .3rem;
  }
  .mr152{
    margin-right 1.52rem;
  }
  .big-btn{
    position absolute;
    top .47rem;
    right .3rem;
    box-sizing border-box;
    width 1.2rem;
    height 1.2rem;
    padding .24rem .2rem;
    border .06rem solid $border-color;
    border-radius .06rem;
    background-color #fff94f;
    font-size .28rem;
    font-weight bold;
    color #640d0d;
    text-align center;
  }
}
.basis-btn{
  box-sizing border-box;
  display block;
  height .8rem;
  margin 0 .22rem;
  border .04rem solid;
  font-size .3rem;
  font-weight bold;
  line-height .76rem;
  text-align center;
  border-radius .07rem;
  margin-bottom .18rem;
}
.abled-btn{
  color #640d0d;
  border-color #640d0d;
  background-color #fff94f;
}
.disabled-btn{
  color #999;
  border-color #999;
  background-color #e2e2e2;
}