@import "../common.styl";
@import "../iconfont";

@font-face {
  $font-face(iconfont, '../iconfont/iconfont');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before{
  content: "\e604";
}

#index{
  background #fc504b;
  .bg-wrap{
    background: -webkit-linear-gradient(top, #f68f5c 0%,#fc4649 25%,#fc504b 50%,#fd3243 75%,#f96a53 100%);
    background: linear-gradient(to bottom, #f68f5c 0%,#fc4649 25%,#fc504b 50%,#fd3243 75%,#f96a53 100%);
  }
  .viewport{
    height 100%;
    overflow auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }
}

.viewport{
  height 100%;
  overflow hidden;
}

.banner{
  img {
    display: block;
    width 100%;
  }
}
.center{
  text-align center;
}

.high-light{
  color #fde92f
}
.under-line{
  text-decoration: underline;
}
.floor{
  .title{
    margin .4rem 0 .12rem;
    background url(../../images/m20161212/title-bg.png) no-repeat center 0;
    background-size auto 100%;
    height .92rem;
    line-height .7rem;
    font-size .28rem;
    font-weight bold;
    color #ff3143;
    text-align center;
  }
  .floor-inner{
    box-sizing border-box;
    width 5.4rem;
    margin 0 auto;
    padding .28rem .24rem;
    border-radius .18rem;
    background-color rgba(254, 111, 124, .9);
  }
  .info{
    color #fffefe;
    font-size .24rem;
    line-height .32rem;
  }
  .phone-btn{
    margin-top .3rem;
    display:block;
    img {
      display block;
      width 100%;
    }
  }
  .coupon{
    display block;
    width 4.24rem;
    height 1.44rem;
    margin .22rem auto 0;
    &.able{
      background url(../../images/m20161212/coupon_able.png) no-repeat 0 0;
      background-size 100%;
    }
    &.disable{
      background url(../../images/m20161212/coupon_disable.png) no-repeat 0 0;
      background-size 100%;
    }
  }
  .red-packet-list{
    display -webkit-flex;
    -webkit-flex-flow row wrap;
    -webkit-justify-content space-around;
    display flex;
    flex-flow row wrap;
    justify-content space-around;
    li {
      margin .28rem 0 .12rem;
      &:first-child{
        width 100%;
        .red-packet{
          margin 0 auto;
          width 2.27rem;
          height 1.35rem;
          padding-top .78rem;
          &:after{
            content '';
            position absolute;
            top -.46rem;
            right -.4rem;
            width .63rem;
            height .45rem;
            background url(../../images/m20161212/crown.png) no-repeat 0 0;
            background-size 100%;
          }
        }
      }
      &:nth-child(4),
      &:nth-child(5){
        .red-packet .tips{
          top -.06rem;
          right -.2rem;
          width .4rem;
          height .88rem;
          font-size .16rem;
          em {
            display inline-block;
            margin-left -.06rem;
            font-style normal;
            width .48rem;
          }
        }
      }
      .red-packet{
        box-sizing border-box;
        position relative;
        width 1.99rem;
        height 1.18rem;
        padding-top .66rem;
        background url(../../images/m20161212/red-packet.png) no-repeat 0 0;
        background-size 100%;
        text-align center
        .prize{
          font-size .3rem;
          font-weight bold;
          color #ffd9dc;
          line-height .4rem;
          text-shadow 0 -1px #fff;
        }
        .tips{
          box-sizing border-box;
          position absolute;
          top -.07rem;
          right -.20rem;
          width .38rem;
          height 1.02rem;
          padding .06rem 0 0 .05rem;
          background url(../../images/m20161212/tip-bg.png) no-repeat 0 0;
          background-size 100% 100%;
          text-align center;
          font-size .22rem;
          color #fff;
        }
      }
      width 50%;
    }
  }
  .user-wrap{
    margin .24rem 0 .3rem;
    text-align center;
    background-color #a745d9;
    border-radius .08rem;
    height .6rem;
    line-height @height;
    font-size .24rem;
    color #fff;
  }
  .limit-top{
    width 100%;
    border-radius .1rem;
    overflow hidden;
    thead {
      td {
        height .6rem;
        color #fde92f;
      }
    }
    tr {
      border-bottom 1px solid #fe6f7c;
    }
    tbody {
      tr:last-child{
        border-bottom 0;
      }
    }
    td {
      height .48rem;
      text-align center;
      font-size .22rem;
      background-color #fc4e4a;
      border-left 1px solid #fe6f7c;
      color #fff;
      &:first-child{
        border-left 0;
      }
    }
  }
  .top-tips{
    margin .1rem -.24rem 0;
    font-size .18rem;
    color #c44643;
    line-height .34rem;
    text-align center;
  }
  .time-line{
    display block;
    width 3.9rem;
    margin 0 auto;
  }
}
.rule-wrap{
  padding .4rem .48rem .6rem;
  .title{
    position relative;
    font-size .3rem;
    line-height .52rem;
    text-align center;
    color #fff;
    &:before,
    &:after{
      position absolute;
      top 50%;
      content '';
      width .95rem;
      height 1px;
      background-color #fff;
    }
    &:before{
      left .76rem;
    }
    &:after{
      right .76rem;
    }
  }
  p {
    font-size .24rem;
    line-height .36rem;
    color #fff;
  }
}

.mask{
  position fixed;
  z-index 10;
  top: 0;
  left: 0;
  width 100%;
  height 100%;
  background-color rgba(0, 0, 0, .7);
  .rope{
    {$public-center-horizontally}
    top 0;
    width .05rem;
    height 50vh;
    background url(../../images/m20161212/rope.png) repeat-y 0 0;
    background-size 100%;
  }
  .pop{
    box-sizing border-box;
    {$public-center-completely}
    width 3.7rem;
    height 3.27rem;
    padding-top 1.62rem;
    background url(../../images/m20161212/face-bg.png) no-repeat 0 0;
    background-size 100%;
    .content{
      height .88rem;
      font-size .28rem;
      line-height .39rem;
      text-align center;
      color #fff;
      margin 0 .5rem;
    }
    .pop-btn{
      display block;
      width 2.5rem;
      margin 0 auto;
      font-size .32rem;
      color #fa5c4e;
      line-height .6rem;
      text-align center;
    }
    .pop-close{
      position absolute;
      top -.35rem;
      right -.34rem;
      width .62rem;
      height .62rem;
      background url(../../images/m20160918/close-btn.png) no-repeat 0 0;
      background-size .62rem;
    }
  }
}


#drawGame{
  background #ca5cf1 url(../../images/m20161212/bg2.jpg) no-repeat 0 bottom;
  background-size 100%;
  .viewport{
    background url(../../images/m20161212/bg-top.png) no-repeat 0 0;
    background-size 100%;
  }
  .disclaimer{
    position fixed;
    width 100%;
    left 0;
    bottom .2rem;
    font-size .18rem;
    text-align center;
    color #8212b4;
  }
  .my-packet-btn{
    position absolute;
    top .3rem;
    right .32rem;
    z-index 3;
    box-sizing border-box;
    width 2.06rem;
    height .6rem;
    padding-left .7rem;
    background #b60cea url(../../images/m20161212/red-packet-mini.png) no-repeat .25rem .09rem;
    background-size .45rem .47rem;
    border-radius .3rem;
    font-size .26rem;
    line-height .6rem;
    color #fff;
  }
  .game-title{
    width 4.99rem;
    margin 0 auto;
    padding-top 1.57rem;
    img {
      display block;
      width 100%;
    }
  }
  .sub-title{
    margin-top .2rem;
    line-height .35rem;
    font-size .24rem;
    color #fff;
    text-align center;
  }
  .play-game-btn{
    display block;
    width 2.79rem;
    height 2.79rem;
    margin .64rem auto 0;
    img {
      display block;
      width 100%;
    }
  }
  .user-number{
    margin-top .2rem;
    font-size .3rem;
    line-height .36rem;
    text-align center;
    color #fff;
    span {
      color #f7e329;
    }
  }
  .rule{
    margin-top .5rem;
    text-align center;
    font-size .24rem;
    line-height .36rem;
    color #fff;
  }
  .count-down-wrap{
    padding-top .72rem;
    .count-down{
      width 2.16rem;
      height .7rem;
      margin 0 auto;
      background url(../../images/m20161212/count-down.png) no-repeat 0 0;
      background-size 100%;
      line-height .6rem;
      font-size .3rem;
      color #fff;
      text-align center;
    }
  }
  .drawn-game{
    position relative;
    width 100%;
    height 8.7rem;
    .monster{
      position absolute;
      z-index 2;
      left 0;
      bottom -1.27rem;
      width 6.4rem;
      height 6.67rem;
      background url(../../images/m20161212/monster.png) no-repeat 0 0;
      background-size 100%;
    }
    .drawn-red-packet{
      {$public-center-horizontally}
      top 3.3rem;
      width 4.59rem;
      height 2.74rem;
      background url(../../images/m20161212/red-packet-move.png) no-repeat 0 0;
      background-size 100%;
    }
    .move{
      transition: all .6s;
      //opacity: 0.5;
      -webkit-transform: translate(-50%, -120%);
      transform: translate(-50%, -120%);
    }
  }
  .ios-drawn{
    .move{
      opacity 0;
    }
  }
  .drawn-encourage{
    position relative;
    z-index 3;
    height 3rem;
    span {
      position absolute;
      opacity: 0;
      pointer-events none;
      font-size .24rem;
      color #fff;
    }
    .encourage1{left:3.91rem;top:2.51rem}
    .encourage2{left:2.23rem;top:2.29rem}
    .encourage3{left:3.91rem;top:1rem}
    .encourage4{left:1.13rem;top:2.07rem}
    .encourage5{left:2.68rem;top:1.76rem}
    .encourage6{left:1.1rem;top:1.3rem}
    .show-encourage{
      opacity: 1;
    }
  }
  .intersperse{
    position fixed;
    z-index 5;
    top: 0;
    left: 0;
    width 100%;
    height 100%;
    background url(../../images/m20161212/intersperse.png) no-repeat 0 0;
    background-size 100%;
    pointer-events none;
  }

  .game-result{
    box-sizing border-box;
    margin 0 auto;
    padding-top 4.37rem;
    width 5.36rem;
    height 6.54rem;
    background url(../../images/m20161212/result.png) no-repeat 0 bottom;
    background-size 100%;
    .result-content{
      line-height 1rem;
      color #fff;
      text-align center;
      font-size .4rem;
      span {
        color #f6e339;
        font-size .72rem;
      }
    }
  }
  .btns-wrap{
    margin .72rem .62rem 0;
    display -webkit-flex;
    -webkit-flex-flow row nowrap;
    -webkit-justify-content space-between;
    display flex;
    flex-flow row nowrap;
    justify-content space-between;
    .game-btn{
      box-sizing border-box;
      position relative;
      display block;
      width 2.5rem;
      height 1.21rem;
      padding-right .32rem;
      background url(../../images/m20161212/game-btn.png) no-repeat 0 0;
      background-size 100%;
      line-height 1.06rem;
      text-align center;
      font-size .32rem;
      &:after{
        content '';
        position absolute;
        top .37rem;
        right .4rem;
        width .19rem;
        height .32rem;
      }
      &.red{
        color #fc5234;
      }
      &.red:after{
        background url(../../images/m20161212/arrow2.png) no-repeat 0 0;
        background-size 100%;
      }
      &.violet{
        color #a02ad4;
      }
      &.violet:after{
        background url(../../images/m20161212/arrow1.png) no-repeat 0 0;
        background-size 100%;
      }
    }
  }
  .new-hand-cont{
    {$public-center-horizontally}
    top 3.36rem;
    width 100%;
    padding-top 4.15rem;
    background url(../../images/m20161212/new-hand.png) no-repeat center 0;
    background-size 2.8rem;
    .btn{
      display block;
      width 2.08rem;
      height .6rem;
      margin 0 auto;
      border 1px solid #fff;
      border-radius .3rem;
      color #fff;
      font-size .3rem;
      line-height @height;
      text-align center;
    }
  }
  .start-count-down{
    line-height 6.26rem;
    color #fff;
    font-size 2.22rem;
    text-align center;
  }
}
.pop-rule-content{
  position relative;
  box-sizing border-box;
  border-radius .08rem;
  {$public-center-completely}
  padding 0 .4rem .4rem;
  width 5.4rem;
  background-color #fff;
  .title{
    height .88rem;
    line-height .88rem;
    color #a834d9;
    border-bottom 1px solid #a834d9;
    font-size .28rem;
    text-align center;
    margin-bottom .2rem;
  }
  .content-wrap{
    max-height: 50vh;
    overflow: auto;
  }
  .pop-rule-close{
    position absolute;
    top -1.04rem;
    right .1rem;
    width .62rem;
    height .62rem;
    background url(../../images/m20160918/close-btn.png) no-repeat top center;
    background-size .62rem;
    &:before{
      {$public-center-horizontally}
      top .62rem;
      content '';
      width 1px;
      height .5rem;
      background-color #fff;
    }
  }
  .empty-list{
    height 2rem;
    line-height @height;
    text-align center;
    font-size: 0.24rem;
    color: #d9b3ee;
  }
}
.award-list{
  li {
    position relative;
    margin-bottom .18rem;
  }
  .award-name,
  .award-time{
    line-height .3rem;
    font-size .24rem;
    color #a834d9;
  }
  .award-packet{
    {$public-center-vertical}
    right 0;
    line-height .6rem;
    font-size .28rem;
    color #f6452a;
  }
}

#shareMask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7) url("../../images/m20161212/share-mask.png") no-repeat 3rem .3rem;
  background-size: 2.81rem auto;
}