@import "../common.styl";
.viewport{
  background #060c1e
}
.banner{
  width 100%
  img{
    width 100%
  }
}
.main{
  width 5.56rem
  margin 0 auto
  overflow hidden
  .title{
    width 100%
    img{
      width 3.1rem
      margin .33rem auto 0
      display block
    }
  }
  .titletwo{
    margin-top .8rem
  }
  .handline{
    font-size .24rem
    color #fff
    padding-top .26rem
  }
  .gotologin{
    width 3.1rem
    margin .32rem auto 0
    display block
    img{
      width 100%
    }
  }
  .rules{
    width 100%
    padding-top .4rem
    text-align center
    a{
      color #fff
      font-size .24rem
      text-decoration underline
    }
  }
  .login{
    width 100%
    background #0f1c3a
    color #edb92c
    font-size .24rem
    text-align center
    margin-top .3rem
    line-height 250%
    span{
      color #edb92c
      font-size .24rem
      text-decoration none
    }
    .login-dr{
      text-decoration underline
    }
  }
  .shop{
    overflow hidden
    li{
      width 50%
      float left
      margin-top .4rem
      img{
        display block
        width 1.59rem
        margin 0 auto
      }
      .redbom{
        width 1.72rem
        margin-bottom .19rem
      }
      p{
        text-align center
      }
      p:nth-child(2){
        color #edb92c
        font-size .22rem
        padding-top .2rem
      }
      p:nth-child(3){
        font-size .22rem
        color #fff
        padding-top .1rem
      }
    }
    li:nth-child(1){
      width 100%
    }
  }
  .instructions{
    padding-top .45rem
    font-size .22rem
    color #fff
  }
  .ols{
    width 100%
    overflow hidden
    padding-bottom .58rem
    li{
      font-size .22rem
      color #fff
      padding-top .18rem
      line-height .3rem
    }
  }
}