body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: Arial, Helvetica, simsun, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
fieldset,
img {
  border: 0;
}
input,
select,
textarea {
  font-size: 100%;
}
ins,
a {
  text-decoration: none;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}
input[type="radio"] {
  -webkit-appearance: radio;
}
html {
  font-size: 100px;
}
html,
body,
.page {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  font-size: 0.14rem;
  line-height: 1.2;
}
.page,
.page>.viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  height: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.viewport {
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}
#loadPage {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../images/loading.gif") no-repeat center center;
  background-size: 0.78rem auto;
  background-color: #fff;
}
@font-face {
  font-family: iconfont;
  src: url("iconfont/iconfont.eot");
  src: url("iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont/iconfont.woff") format('woff'), url("iconfont/iconfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.iconfont {
  font-family: 'iconfont' !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-group:before {
  content: "\e644";
}
.icon-coin:before {
  content: "\e645";
}
.icon-download:before {
  content: "\e643";
}
.icon-close:before {
  content: "\e604";
}
@font-face {
  font-family: iconfont;
  src: url("../iconfont/iconfont.eot");
  src: url("../iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("../iconfont/iconfont.woff") format('woff'), url("../iconfont/iconfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.iconfont {
  font-family: 'iconfont' !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before {
  content: "\e604";
}
html,
body {
  overflow: auto;
}
body {
  background: #76599d;
}
.dice-bg {
  height: 8.61rem;
  background: url("../../images/m20160718/page-bg.png") repeat-x 0 0;
  background-size: auto 8.61rem;
}
.btn {
  display: block;
  border-radius: 0.08rem;
  background: -webkit-linear-gradient(top, #fbfda2 0%, #ebc409 100%);
  font-size: 0.24rem;
  color: #413153;
  text-align: center;
}
.top-bar {
  box-sizing: border-box;
  height: 1.59rem;
  margin: 0 0.3rem;
  padding-top: 0.54rem;
}
.top-bar .chance-box {
  position: absolute;
  top: 0.5rem;
  display: block;
  box-sizing: border-box;
  padding: 0.03rem;
  width: 2rem;
  height: 0.6rem;
  background: -webkit-linear-gradient(top, #ebc307 0%, #fbfca0 100%);
  border-radius: 0.05rem;
}
.top-bar .chance-box .chance-inner {
  display: block;
  line-height: 0.54rem;
  height: 0.54rem;
  padding-right: 0.32rem;
  background: -webkit-linear-gradient(top, #fbfca0 0%, #ebc307 100%);
  border-radius: 0.05rem;
  text-align: center;
  font-size: 0.22rem;
  color: #413153;
}
.top-bar .chance-box .chance-plus {
  position: absolute;
  right: -0.32rem;
  top: -0.02rem;
  box-sizing: border-box;
  width: 0.64rem;
  height: 0.64rem;
  padding: 0.03rem;
  border-radius: 50%;
  background: -webkit-linear-gradient(top, #ebc307 0%, #fbfca0 100%);
}
.top-bar .chance-box .chance-plus .chance-plus-inner {
  display: block;
  width: 0.58rem;
  height: 0.58rem;
  border-radius: 50%;
  background: -webkit-linear-gradient(top, #fbfca0 0%, #ebc307 100%);
}
.top-bar .chance-box .chance-plus .chance-plus-inner:before,
.top-bar .chance-box .chance-plus .chance-plus-inner:after {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: '';
  background-color: #413153;
}
.top-bar .chance-box .chance-plus .chance-plus-inner:before {
  width: 0.22rem;
  height: 0.03rem;
}
.top-bar .chance-box .chance-plus .chance-plus-inner:after {
  width: 0.03rem;
  height: 0.22rem;
}
.top-bar .top-link {
  float: right;
  clear: both;
  display: block;
  height: 0.4rem;
  padding: 0 0.32rem;
  border-radius: 0.04rem;
  background-color: rgba(0,0,0,0.3);
  line-height: 0.4rem;
  font-size: 0.22rem;
  color: #fff;
}
.top-bar .top-link + .top-link {
  margin-top: 0.25rem;
}
.dice-wrap {
  position: relative;
  height: 7rem;
  background: url("../../images/m20160718/dice-tray.png") no-repeat center 2.56rem;
  background-size: 5.08rem;
}
.dice-wrap .dice-header {
  box-sizing: border-box;
  height: 2.56rem;
  padding-top: 0.37rem;
}
.dice-wrap .dice-header .dice-result {
  box-sizing: border-box;
  width: 4.26rem;
  height: 2rem;
  padding-top: 0.25rem;
  margin: 0 auto;
  background: rgba(255,255,255,0.5);
  border-radius: 0.1rem;
  text-align: center;
}
.dice-wrap .dice-header .shake-text {
  color: transparent;
  height: 1.33rem;
  background: url("../../images/m20160718/shake-text.png") no-repeat center bottom;
  background-size: 1.58rem;
}
.dice-wrap .dice-header .result-cont {
  margin-bottom: 0.25rem;
  font-size: 0.24rem;
  line-height: 0.36rem;
  color: #3d2d4f;
}
.dice-wrap .dice-header .btn {
  width: 1.74rem;
  height: 0.5rem;
  margin: 0 auto;
  line-height: 0.5rem;
}
.dice-wrap .dice-box {
  position: relative;
  width: 2.8rem;
  height: 1.82rem;
  margin: 0.6rem auto 1.4rem;
}
.dice-wrap .dice-box .dice {
  position: absolute;
  width: 0.77rem;
  height: 0.91rem;
}
.dice-wrap .dice-box .dice:nth-child(1) {
  top: 0;
  left: 0.56rem;
}
.dice-wrap .dice-box .dice:nth-child(2) {
  top: 0;
  left: 1.53rem;
}
.dice-wrap .dice-box .dice:nth-child(3) {
  top: 0.91rem;
  left: 0.05rem;
}
.dice-wrap .dice-box .dice:nth-child(4) {
  top: 0.91rem;
  left: 1.02rem;
}
.dice-wrap .dice-box .dice:nth-child(5) {
  top: 0.91rem;
  left: 1.97rem;
}
.dice-wrap .dice-box .point1 {
  background: url("../../images/m20160718/point1.png") no-repeat 0 0;
  background-size: 0.77rem;
}
.dice-wrap .dice-box .point2 {
  background: url("../../images/m20160718/point2.png") no-repeat 0 0;
  background-size: 0.77rem;
}
.dice-wrap .dice-box .point3 {
  background: url("../../images/m20160718/point3.png") no-repeat 0 0;
  background-size: 0.77rem;
}
.dice-wrap .dice-box .point4 {
  background: url("../../images/m20160718/point4.png") no-repeat 0 0;
  background-size: 0.77rem;
}
.dice-wrap .dice-box .point5 {
  background: url("../../images/m20160718/point5.png") no-repeat 0 0;
  background-size: 0.77rem;
}
.dice-wrap .dice-box .point6 {
  background: url("../../images/m20160718/point6.png") no-repeat 0 0;
  background-size: 0.77rem;
}
.dice-wrap .dice-cup {
  position: absolute;
  z-index: 3;
  top: 0.63rem;
  left: 1.24rem;
  width: 3.91rem;
  height: 4.91rem;
  background: url("../../images/m20160718/dice-cup.png") no-repeat 0 0;
  background-size: 3.91rem;
}
.dice-wrap .other-list {
  position: relative;
  height: 0.3rem;
  overflow: hidden;
}
.dice-wrap .other-list ul {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.dice-wrap .other-list li {
  text-align: center;
  line-height: 0.3rem;
  height: 0.3rem;
  font-size: 0.22rem;
  color: #fff;
}
.tab-ctrl {
  position: relative;
  box-sizing: border-box;
  height: 1.07rem;
  padding-top: 0.24rem;
}
.tab-ctrl:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.33rem;
  height: 1.07rem;
  background: url("../../images/m20160718/decorate-bg.png") no-repeat 0 0;
  background-size: 1.33rem;
}
.tab-ctrl:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1.33rem;
  height: 1.07rem;
  background: url("../../images/m20160718/decorate-bg.png") no-repeat 0 0;
  background-size: 1.33rem;
  -webkit-transform: rotateY(180deg);
}
.tab-ctrl .ctrl-box {
  width: 3.12rem;
  height: 0.66rem;
  margin: 0 auto;
  padding: 0.02rem 0.03rem;
  border-radius: 0.08rem;
  background: #eee;
}
.tab-ctrl .ctrl-box a {
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 0.66rem;
  background: #76599d;
  line-height: 0.66rem;
  color: #fff;
  font-size: 0.24rem;
  text-align: center;
}
.tab-ctrl .ctrl-box a:first-child {
  border-radius: 0.08rem 0 0 0.08rem;
}
.tab-ctrl .ctrl-box a:last-child {
  border-radius: 0 0.08rem 0.08rem 0;
}
.tab-ctrl .ctrl-box a.active {
  background-color: #eee;
  color: #38294a;
}
.tab-item {
  padding: 0 0.2rem;
}
.tab-item .meta-tip {
  margin-bottom: 0.15rem;
  text-align: center;
  font-size: 0.2rem;
  color: #b199dd;
  line-height: 0.36rem;
}
.tab-item ul {
  *zoom: 1;
}
.tab-item ul:before,
.tab-item ul:after {
  display: table;
  content: "";
}
.tab-item ul:after {
  clear: both;
}
.tab-item li {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 0 0.1rem 0.2rem;
  text-align: center;
}
.tab-item li .item-inner {
  padding-bottom: 0.08rem;
  border-radius: 0.08rem;
  background-color: #8e73b9;
}
.tab-item li .pic {
  position: relative;
  height: 1.18rem;
}
.tab-item li .pic img {
  height: 100%;
}
.tab-item li .pic .red-packet {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1.4rem;
  height: 0.74rem;
  overflow: hidden;
  background: url("../../images/m20160718/red-packet.png") no-repeat 0 0;
  background-size: 1.4rem;
  line-height: 0.74rem;
  color: #fff;
  font-size: 0.14rem;
}
.tab-item li .pic .red-packet span {
  float: left;
}
.tab-item li .pic .red-packet span:first-child {
  width: 0.66rem;
  text-align: right;
  font-size: 0.32rem;
}
.tab-item li .pic .red-packet span:last-child {
  margin-left: 0.05rem;
  line-height: 0.8rem;
}
.tab-item li .name,
.tab-item li .rule {
  font-size: 0.2rem;
  line-height: 0.3rem;
  color: #fff;
}
.tab-item li .name {
  color: #38294a;
}
.tab-item .first-pic {
  width: 100%;
  padding: 0 1.1rem 0.2rem;
}
.tab-item .first-pic .item-inner {
  box-sizing: border-box;
  position: relative;
  height: 1.85rem;
  padding: 0.6rem 0 0 1.36rem;
}
.tab-item .first-pic .item-inner .pic {
  position: absolute;
  top: 0;
  left: 0.7rem;
  height: 100%;
}
.dialog-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
}
.dialog-mask .main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#alertPop .main {
  box-sizing: border-box;
  width: 4.8rem;
  height: 3rem;
  padding: 0.3rem 0;
  background: url("../../images/m20160718/alert-bg.png") no-repeat 0 0;
  background-size: 100%;
}
#alertPop .body {
  position: relative;
  height: 1.62rem;
  text-align: center;
}
#alertPop .body .content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0.24rem;
  color: #413153;
  line-height: 0.42rem;
}
#alertPop .btn {
  width: 1.95rem;
  height: 0.6rem;
  line-height: 0.6rem;
  margin: 0 auto;
}
#userPop .main {
  box-sizing: border-box;
  width: 4.8rem;
  height: 5.8rem;
  padding: 0.6rem 0.34rem;
  background: url("../../images/m20160718/user-bg.png") no-repeat 0 0;
  background-size: 100%;
  color: #413153;
}
#userPop .title {
  margin-bottom: 0.12rem;
  line-height: 0.46rem;
  font-size: 0.26rem;
  font-weight: bold;
}
#userPop .chance-item {
  margin-bottom: 0.12rem;
  font-size: 0.24rem;
  line-height: 0.32rem;
}
#userPop .chance-item .tit {
  line-height: 0.5rem;
  font-size: 0.24rem;
  font-weight: bold;
}
#userPop .btn {
  float: left;
  width: 1.95rem;
  height: 0.6rem;
  margin-top: 0.24rem;
  line-height: 0.6rem;
}
#userPop .btn:first-child {
  background: -webkit-linear-gradient(top, #e9e9e9 0%, #a9a8a9 100%);
}
#userPop .btn ~ .btn {
  margin-left: 0.2rem;
}
#userPop .close {
  position: absolute;
  top: 0.26rem;
  right: 0.26rem;
}
#userPop .close i {
  font-size: 0.3rem;
  font-weight: bold;
  color: #413153;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
}
#pageRecord {
  height: 100%;
  padding: 0.28rem 0.3rem;
}
#pageRecord .record-total {
  border-radius: 0.04rem;
  background-color: #8e73b9;
  line-height: 0.6rem;
  font-size: 0.24rem;
  text-align: center;
  color: #fff;
}
#pageRecord .record-total span {
  color: #fffd83;
}
#pageRecord .page-tip {
  color: #38294a;
  text-align: center;
  line-height: 0.4rem;
  font-size: 0.2rem;
}
#pageRecord .empty {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #38294a;
  font-size: 0.24rem;
}
#pageRecord .record-table th {
  width: 33.33%;
}
#pageRecord .record-table {
  margin-bottom: 0.3rem;
}
#pageRecord .total-point {
  margin-bottom: -0.3rem;
  font-size: 0.2rem;
  line-height: 0.65rem;
  text-align: right;
  color: #fff;
}
.record-table {
  width: 100%;
  margin-top: 0.3rem;
  color: #fff;
}
.record-table th,
.record-table td {
  border: 1px solid #9f8bba;
  height: 0.6rem;
  text-align: center;
  font-size: 0.24rem;
}
.record-table th {
  background-color: #8e73b9;
  font-weight: normal;
  color: #38294a;
}
#pageRule {
  padding-top: 0.18rem;
}
#pageRule .record-table {
  margin-top: 0.25rem;
}
.rule-item {
  padding: 0 0.3rem;
  margin-bottom: 0.15rem;
}
.rule-item .title {
  line-height: 0.5rem;
  font-size: 0.26rem;
  color: #fffd83;
}
.rule-item .cont {
  font-size: 0.24rem;
  color: #fff;
  line-height: 0.32rem;
}
.rule-item .cont p {
  margin-bottom: 0.1rem;
}
.rule-item .cont .high {
  color: #fffd83;
}
.rule-p {
  font-size: 0.24rem;
  color: #fff;
  line-height: 0.52rem;
  margin-bottom: 0.1rem;
}
#shareMask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8) url("../../images/m20160718/share-mask.png") no-repeat 3rem 0.3rem;
  background-size: 2.89rem auto;
}
@-moz-keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@-o-keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
