<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>约惠1218，年终盛典逛起来</title>
    <link rel="stylesheet" href="/static/style/m20161218/index.css">
    <script src="/static/script/modules/html-font-size.js"></script>
</head>
<body>
<article class="viewport">
    <div class="banner"><img src="/static/images/m20161218/banner.png" alt="约惠1218，年终盛典逛起来"></div>
    <div class="floor floor1">
        <div class="title">
            <h2>钱庄日真情回馈</h2>
        </div>
        <div class="machine">
            <div class="content">
                <template v-if="part == 1">
                    <p>开启时光之旅<br>领取感恩红包</p>
                </template>
                <template v-if="part == 2">
                    <p><span>2</span><span>0</span><span>1</span><span>6</span><span>年</span><span>1</span><span>月</span><span>1</span><span>8</span><span>日</span><br><span>至</span><span>今</span></p>
                </template>
                <template v-if="part == 3">
                    <p><span>您</span><span>已</span><span>参</span><span>加</span><span>过</span><br>{{{totalQDay | toWrap}}}<span>个</span><span>钱</span><span>庄</span><span>日</span></p>
                </template>
                <template v-if="part == 4">
                    <p><span>您</span><span>在</span><span>钱</span><span>庄</span><span>日</span><span>共</span><span>累</span><span>计</span><span>投</span><span>资</span><br>{{{totalQDayMount | toWrap}}}<span>元</span></p>
                </template>
                <template v-if="part == 5">
                    <p><span>感</span><span>谢</span><span>有</span><span>你</span><br><span>2</span><span>0</span><span>1</span><span>7</span><span>年</span><br><span>让</span><span>我</span><span>们</span><span>继</span><span>续</span><span>钱</span><span>行</span></p>
                </template>
                <template v-if="part == 6">
                    <p class="big">{{{packetNum | toWrap}}}<span class="red">元</span><br><span>红</span><span>包</span><span>已</span><span>发</span><span>至</span><span>您</span><span>账</span><span>户</span><br><span>请</span><span>查</span><span>收</span></p>
                </template>
                <template v-if="part == 7">
                    <p><span>钱</span><span>庄</span><span>网</span><span>已</span><span>举</span><span>办</span><br><span class="red">1</span><span class="red">1</span><span>个</span><span>钱</span><span>庄</span><span>日</span></p>
                </template>
                <template v-if="part == 8">
                    <p><span>大</span><span>家</span><span>在</span><span>钱</span><span>庄</span><span>日</span><span>累</span><span>计</span><span>投</span><span>资</span><br><span class="red">1</span><span class="red">6</span><span class="red">2</span><span class="red">,</span><span class="red">4</span><span class="red">6</span><span class="red">7</span><span class="red">,</span><span class="red">3</span><span class="red">8</span><span class="red">4</span><span>元</span></p>
                </template>
            </div>
            <a v-if="part == 1" href="javascript:;" @click="timeMachineStart()" class="machine-btn btn1"></a>
            <a v-if="part == 2 || part == 3 || part == 4 || part == 7 || part == 8 || (part == 5 && !canPart5)" href="javascript:;" class="machine-btn btn2"></a>
            <a v-if="part == 5 && canPart5" href="javascript:;" @click="openLottery" class="machine-btn btn3"></a>
            <a v-if="part == 6" href="javascript:;" @click="share" class="machine-btn btn4"></a>
        </div>
    </div>
    <div class="floor floor2">
        <div class="title">
            <h2>爆款加息再送1.2%</h2>
        </div>
        <p class="info">12月16日-12月18日，疯狂加息，火热开抢！</p>
        <p class="info">12月16日-12月17日，两天的累计投资金额满8000元，额外赠送1.2%的加息券一张，加息券仅限12月18日当天使用。</p>
        <div class="coupon"><img src="/static/images/m20161218/coupon.png" alt="加息劵"></div>
        <div v-if="!couponIsReceived" @click="sendMoney" class="coupon-btn">立即领取</div>
        <div v-else class="coupon-btn disabled">已领取</div>
    </div>
    <div class="floor floor3">
        <div class="title">
            <h2>财运红包滚滚来</h2>
        </div>
        <p class="info">12月16日-12月18日，单笔投资每满5000元即可领取下列任意红包一个，每人最多可领3次。红包有效期为3天。</p>
        <ul class="packet-list">
            <li>
                <div class="limit"><span>10</span>元</div>
                <div class="rule">投资满6000元，期限满30天</div>
                <div class="right">
                    <div class="deadline">有效期3天</div>
                    <a href="javascript:;" @click="drawPic(1)" class="packet-btn">立即领取</a>
                </div>
            </li>
            <li>
                <div class="limit"><span>10</span>元</div>
                <div class="rule">投资满3000元，期限满60天</div>
                <div class="right">
                    <div class="deadline">有效期3天</div>
                    <a href="javascript:;" @click="drawPic(2)" class="packet-btn">立即领取</a>
                </div>
            </li>
            <li>
                <div class="limit"><span>20</span>元</div>
                <div class="rule">投资满12000元，期限满30天</div>
                <div class="right">
                    <div class="deadline">有效期3天</div>
                    <a href="javascript:;" @click="drawPic(3)" class="packet-btn">立即领取</a>
                </div>
            </li>
            <li>
                <div class="limit"><span>20</span>元</div>
                <div class="rule">投资满6000元，期限满60天</div>
                <div class="right">
                    <div class="deadline">有效期3天</div>
                    <a href="javascript:;" @click="drawPic(4)" class="packet-btn">立即领取</a>
                </div>
            </li>
        </ul>
        <div v-if="isLogin && isStart && !isEnd" class="user-wrap">可领: <span class="high-light">{{availableTimes}}</span>次 <a href="javascript:;" class="under-line" @click="goInvest">立即投资</a></div>
    </div>
    <div class="floor floor4">
        <div class="title">
            <h2>真金豪礼0元兑</h2>
        </div>
        <p class="info">12月18日，当天累计投资所得收益（即利息）达到相应金额即可兑换下列礼品，每位用户仅限兑换一件礼品。</p>
        <ul class="gift-list">
            <li>
                <div class="pic"><img src="/static/images/m20161218/pic1.png" alt="3000元京东礼卡"></div>
                <div class="name">3000元京东礼卡</div>
                <div class="rule">所得收益≥12288元</div>
            </li>
            <li>
                <div class="pic"><img src="/static/images/m20161218/pic1.png" alt="2000元京东礼卡"></div>
                <div class="name">2000元京东礼卡</div>
                <div class="rule">10008元≤所得收益＜12288元</div>
            </li>
            <li>
                <div class="pic"><img src="/static/images/m20161218/pic1.png" alt="600元京东礼卡"></div>
                <div class="name">600元京东礼卡</div>
                <div class="rule">3488元≤所得收益＜10008元</div>
            </li>
            <li>
                <div class="pic"><img src="/static/images/m20161218/pic2.png" alt="300元京东礼卡"></div>
                <div class="name">300元京东礼卡</div>
                <div class="rule">1788元≤所得收益＜3488元</div>
            </li>
            <li>
                <div class="pic"><img style="height: .89rem;" src="/static/images/m20161218/pic3.png" alt="150元现金红包"></div>
                <div class="name">150元现金红包</div>
                <div class="rule">888元≤所得收益＜1788元</div>
            </li>
            <li>
                <div class="pic"><img style="height: .89rem;" src="/static/images/m20161218/pic4.png" alt="100元现金红包"></div>
                <div class="name">100元现金红包</div>
                <div class="rule">588元≤所得收益＜888元</div>
            </li>
            <li>
                <div class="pic"><img style="height: .89rem;" src="/static/images/m20161218/pic5.png" alt="30元现金红包"></div>
                <div class="name">30元现金红包</div>
                <div class="rule">188元≤所得收益＜588元</div>
            </li>
        </ul>
        <template v-if="isPart4Start">
            <div v-if="isLogin" class="user-wrap">12月18日您累计投资的收益:<span class="high-light">{{interest}}</span>元</div>
            <div v-else class="user-wrap">登录后查看您的累计收益 <a href="javascript:;" @click="goLogin" class="under-line high-light">立即登录</a></div>
        </template>
    </div>
    <div class="explain">
        <p>活动说明：</p>
        <p>1、获得实物礼品的用户请主动去“我”-“个人中心”完善收货地址，若有问题欢迎致电400-0455-360或联系客服QQ群236613404；</p>
        <p>2、实物礼品将统一在活动结束后的7个工作日内安排寄出，环节4的红包将在活动结束后的3个工作日内发放，使用规则详见“我的券包使用说明”；</p>
        <p>3、本次活动最终解释权归杭州乾庄互联网金融服务有限公司所有。</p>
    </div>
</article>
<section v-if="alertMask" class="mask">
    <div class="pop">
        <div class="content"><p>{{{alertContent}}}</p></div>
        <a @click="closeAlert" href="javascript:;" class="pop-btn">我知道了</a>
    </div>
</section>
<section v-if="timeOutMask" class="mask2">
    <div class="pop">{{timeOutContent}}</div>
</section>
<section id="loadPage" v-show="pageLoading"></section>
<div @click="hideShareMask" id="shareMask" v-show="shareMask"></div>
<input type="hidden" id="sharePic" value="/static/images/m20161218/share.jpg">
<script src="/static/script/modules/sea.js"></script>
<script src="/static/script/modules/seajs-config.js"></script>
<script>
    seajs.use('/static/script/m20161218/index.js');
</script>
</body>
</html>