body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: Arial, Helvetica, simsun, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
fieldset,
img {
  border: 0;
}
input,
select,
textarea {
  font-size: 100%;
}
ins,
a {
  text-decoration: none;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}
input[type="radio"] {
  -webkit-appearance: radio;
}
html {
  font-size: 100px;
}
html,
body,
.page {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  font-size: 0.14rem;
  line-height: 1.2;
}
.page,
.page>.viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  height: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.viewport {
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}
#loadPage {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../images/loading.gif") no-repeat center center;
  background-size: 0.78rem auto;
  background-color: #fff;
}
.ca-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: url("../../images/loading.gif") no-repeat center center;
  background-color: rgba(0,0,0,0.8);
  background-size: 1rem auto;
}
.ca-wrap .ca-pop,
.ca-wrap .empty {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  width: 5.46rem;
  border-radius: 0.1rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ca-wrap .empty-cont {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0.45rem;
  font-size: 0.24rem;
  color: #000;
  text-align: center;
}
.ca-wrap .empty-btn {
  display: block;
  text-align: center;
  font-size: 0.24rem;
  line-height: 0.68rem;
  text-decoration: none;
}
.ca-wrap .ca-header {
  padding: 0 0.28rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.32rem;
  font-weight: bold;
  color: #333;
}
.ca-wrap .ca-content {
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
  padding: 0.3rem 0.45rem;
  font-size: 0.24rem;
  color: #000;
}
.ca-wrap .ca-content p {
  line-height: 1.7;
}
.ca-wrap .ca-content .label {
  display: inline-block;
  width: 1.8rem;
  text-align: right;
  color: #666;
}
.ca-wrap .ca-footer {
  height: 0.76rem;
  padding: 0.4rem 0.28rem;
}
.ca-wrap .ca-btn {
  float: left;
  display: block;
  width: 2.32rem;
  height: 0.76rem;
  box-sizing: border-box;
  text-align: center;
  line-height: 0.76rem;
  font-size: 0.32rem;
  text-decoration: none;
  border-radius: 0.05rem;
}
.ca-wrap .changeBtn {
  border: 1px solid #666;
  color: #666;
  margin-right: 0.2rem;
}
.ca-wrap .comfirmBtn {
  border: 1px solid #f35c3f;
  background-color: #f35c3f;
  color: #fff;
}
.ca-hide {
  display: none;
}
.viewport {
  background: #caedf3;
}
.main {
  position: relative;
  padding-bottom: 0.01rem;
}
.main .banner {
  display: block;
  width: 100%;
}
.main .main-content {
  background-color: #aedff1;
  position: relative;
  padding: 0.39rem 0 0.33rem;
}
.main .main-content #green {
  display: none;
}
.main .main-content .item {
  margin: 0 0.3rem 0.58rem;
  padding: 0 0.54rem 0.35rem 0.54rem;
  border: 2px solid #213744;
  border-radius: 0.1rem;
  background-color: #caedf3;
}
.main .main-content .envelopes {
  color: #213744;
  font-size: 0.28rem;
  text-align: center;
  padding-top: 0.43rem;
}
.main .main-content .envelopes .enve-money {
  color: #ff7a2d;
  font-size: 0.28rem;
}
.main .main-content .btn {
  font-size: 0.3rem;
  color: #fff;
  text-align: center;
  line-height: 0.75rem;
  display: block;
  margin: 0 auto;
  width: 2.04rem;
  height: 0.75rem;
  border-radius: 0.2rem;
  background: #ff7a2d;
  margin-top: 0.35rem;
}
.main .main-content .envelopesin {
  text-align: left;
  line-height: 0.4rem;
}
.title {
  width: 2.57rem;
  height: 0.39rem;
  margin: 0 auto 0.25rem;
}
.title img {
  width: 100%;
}
.rules {
  margin: 0 auto;
  padding: 0.54rem 0.52rem 0;
}
.rules ol {
  padding-top: 0.3rem;
  overflow: hidden;
  width: 5.29rem;
  margin: 0 auto 1rem;
}
.rules ol li {
  color: #213744;
  font-size: 0.24rem;
  width: 100%;
  line-height: 0.4rem;
}
.rules ol li a {
  color: #ff7a2d;
  text-decoration: underline;
}
.ui-dialog-wrap {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.ui-dialog-wrap .ui-dialog-box {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  padding: 0.3rem 0.38rem;
  width: 4.4rem;
  height: 3.3rem;
  background: #fff;
  background-size: auto 100%;
  border-radius: 0.14rem;
  max-height: 90%;
  overflow-y: auto;
}
.ui-dialog-wrap .ui-dialog-box .ui-dialog-content {
  text-align: center;
}
.ui-dialog-wrap .ui-dialog-box .ui-dialog-content .boy {
  width: 100%;
  height: 1.3rem;
  position: relative;
}
.ui-dialog-wrap .ui-dialog-box .ui-dialog-content .boy .boyonin {
  position: absolute;
  left: 0.78rem;
  top: 0.25rem;
  background: url("../../images/m20160408/boy.png") no-repeat 0 0;
  background-size: 100%;
  width: 0.62rem;
  height: 0.73rem;
}
.ui-dialog-wrap .ui-dialog-box .ui-dialog-content .boy .gral {
  position: absolute;
  left: 0.78rem;
  top: 0.25rem;
  background: url("../../images/m20160408/gral.png") no-repeat 0 0;
  background-size: 100%;
  width: 0.62rem;
  height: 0.73rem;
}
.ui-dialog-wrap .ui-dialog-box .ui-dialog-content .boy span {
  position: absolute;
  left: 1.6rem;
  top: 0.5rem;
  color: #7885c9;
  font-size: 0.3rem;
}
.ui-dialog-wrap .ui-dialog-box .ui-dialog-content .prize {
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid #f5b223;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto 0.24rem;
  overflow: hidden;
}
.ui-dialog-wrap .ui-dialog-box .ui-dialog-content .cont {
  font-size: 0.26rem;
  color: #976d0d;
}
.ui-dialog-wrap .ui-dialog-box .ui-dialog-footer {
  width: 3.27rem;
  height: 0.78rem;
  margin: 0 auto;
  border: 2px solid #7885c9;
  border-radius: 0.2rem;
  text-align: center;
  line-height: 0.78rem;
  box-sizing: border-box;
  margin-top: 0.5rem;
}
.ui-dialog-wrap .ui-dialog-box .ui-dialog-footer .ui-dialog-btn {
  box-sizing: border-box;
  width: 2.32rem;
  line-height: 0.66rem;
  margin: 0 auto;
  font-size: 0.3rem;
  color: #7885c9;
  width: 100%;
  display: block;
}
.ui-dialog-wrap .ui-dialog-box .ui-dialog-footer .ui-dialog-address {
  box-sizing: border-box;
  width: 2.3rem;
  line-height: 0.66rem;
  font-size: 0.3rem;
  margin-left: 2rem;
}
.ui-dialog-wrap .ui-dialog-box .ui-dialog-footer .ui-dialog-again {
  float: left;
  box-sizing: border-box;
  width: 1.7rem;
  line-height: 0.66rem;
  font-size: 0.3rem;
  background-color: #f5b223;
  box-shadow: 0 0.03rem #b88417;
}
.ui-dialog-hide {
  display: none;
}
.poker {
  display: none;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}
.poker div img {
  width: 3.82rem;
  height: 2.98rem;
  position: absolute;
  right: 0;
  top: 0;
}
.invitation {
  overflow: hidden;
  width: 100%;
  border-radius: 0.2rem;
}
.invitation li {
  color: #333;
  font-size: 0.28rem;
  padding: 0 0.4rem 0.23rem 0;
  overflow: hidden;
}
.invitation li p {
  display: inline-block;
  text-align: left;
  float: left;
  color: #333;
}
.invitation li p:nth-child(1) {
  width: 3.05rem;
}
.invitation li:nth-child(1) {
  padding: 0.35rem 0 0.3rem 0;
}
.invitation li:nth-child(1) p {
  color: #ff7a2d;
}
